{% extends "base.html" %}


{% block title %}
Your cart | Laboratory Glassware Store
{% endblock %}


{% block style %}
#a {
  font-size: 20px;
  margin: 10px;
}
#b {
  margin: 50px 0px 20px 20px;
  font-size: 25px;
}
#c {
  color: red;
}
#d {
  font-style: italic;
}
#e {
  color: red;
  font-size: 20px;
  margin-top: 30px;
}
{% endblock %}


{% block content %}
<h1>The content of your cart is following:</h1>
{% if not user.is_authenticated %}
<div id="e">==This e-shop is just starting and some key functionalities has not been implemented yet.
    At this stage, you need to sign up first before you start making shopping.
    Sorry for this temporary inconvenience!==</div>
{% endif %}
<ul>
    {% for user_product in user_products %}
    <li>
            <div id="a">item:
                <a href="{% url 'product' user_product.product.id %}">{{user_product.product.title}}</a>,
                price/pc: {{user_product.product.price}} £,   quantity: {{user_product.quantity}} pcs
            </div>
            <div class="align-right">
                <a href="{% url 'update_item' user_product.id %}" class="btn btn-outline-primary"> change quantity</a>
                <a href="{% url 'remove_item_from_cart' user_product.id %}" class="btn btn-outline-danger">
                    remove this item</a>
            </div>
    </li>
    {% endfor %}
</ul>

<div id="c">{{notice_a}}<span id="d">{{exceeds_number}}</span>{{notice_b}}</div>

<div id="b"><b>Total = {{total}} £</b></div>

<div>
    {% if user.is_authenticated %}
        <a href="{% url 'products_and_categories' %}" class="btn btn-primary">Add product</a>
        <a href="{% url 'place_order' %}" class="btn btn-success">Place order</a>
        <a href="{% url 'cart_confirm_delete' %}" class="btn btn-danger">Empty cart</a>
    {% endif %}
    {% if not user.is_authenticated %}
        <button class="btn btn-primary">Add product</button>
        <button class="btn btn-success">Place order</button>
        <button class="btn btn-danger">Empty cart</button>
    {% endif %}
</div>
{% endblock %}


{% block content_2 %}
{% endblock %}