{% extends "base.html" %}

{% block title %}
Removing Item Confirmation | Laboratory Glassware Store
{% endblock %}


{% block style %}
{% endblock %}


{% block content %}
<form method="POST">
    {% csrf_token %}
    <p>Are you sure you want to delete item "{{ object }}" from the shopping cart?</p>
    <input type="submit" value="Submit" class="btn btn-danger">
    <button type="button" onclick="history.back();" class="btn btn-primary">Back</button>
</form>
{% endblock %}


{% block content_2 %}
{% endblock %}
