{% extends "base.html" %}

{% block title %}
Order preview | Laboratory Glassware Store
{% endblock %}


{% block style %}
span {
    text-decoration-line: underline;
}
div {
    margin-top: 20px;
}
{% endblock %}


{% block content %}
<h3><b>Here is a preview of your new order:</b></h3>
<ul>
    {% for user_product in user_products %}
    <li>item: {{user_product.product.title}}, price/pc: {{user_product.product.price}} £,
        quantity: {{user_product.quantity}} pcs</li>
    {% endfor %}
</ul>
<div>This order (<span>id = {{order.id}})</span>) is worth of <span>{{order.total}} £</span></div>
<div>We kindly ask you to settle the amount stated above within 30 days after the creation of this order.
    Transfer money to the bank account 18448885/455. Please make sure, you use your order id as the id of your payment.
    Failing to comply with the stated deadline for the payment will result in automatic
    cancellation of this order.</div>
<div>In case you decide, for whatever reason, to cancel your order, please
    contact us either via e-mail (ondrej.hak@gmail.com) or by phone (0456953128).</div>
<div><b>Before I continue, I fully understand the statement above and I confirm that the information I have provided
    for purpose of this order is correct.</b></div>
<div>
    <a href="{% url 'order_confirmation' order.id %}" class="btn btn-success">Confirm & Complete the order</a>
    <a href="{% url 'order_decline' order.id %}" class="btn btn-secondary">Decline the order</a>
</div>
{% endblock %}


{% block content_2 %}

{% endblock %}