{% extends "base.html" %}

{% block title %}
Profiles | Laboratory Glassware Store
{% endblock %}


{% block style %}
h1 = {
  color: red;
}
{% endblock %}


{% block content %}
<h1>List of users:</h1>
<ul>
    {% for use in users %}
        {% if use.username != 'admin' %}
            <li>
                {% if use.id == user.id %}
                    <a href="{% url 'user' %}">
                {% endif %}
                {{ use.first_name }} {{ use.last_name }}
                {% if use.id == user.id %}
                    </a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}


{% block content_2 %}
{% endblock %}