{% extends "base.html" %}

{% block title %}
T&C | Laboratory Glassware Store
{% endblock %}


{% block style %}
{% endblock %}


{% block content %}
<h3>Terms and Conditions</h3>
<div>Any new order must be paid for within 30 days after its creation.
    Transfer money to the following bank account: 18448885/455. Use id of your order as an id of the payment.
    Failing to comply with the stated deadline for payment will result in automatic cancellation of your order.</div>
<div>We do not ship your order until we receive the complete payment</div>
<div>If you need, for whatever reason, cancel your order,
    contact us either by phone (0456953128) or through e-mail (ondrej.hak@gmail.com)</div>
{% endblock %}