{% extends "base.html" %}


{% block title %}
Categories overview | Laboratory Glassware Store
{% endblock %}


{% block style %}
h1 {
  margin-bottom: 30px;
}
{% endblock %}


{% block content %}
<h1 class='center'>Choose products from the following categories:</h1>
<ul>
{% for category in categories %}
    <li class='comb'><a class='blacken' href = "{% url 'category' category.id %}">{{category}}</a></li>
{% endfor %}
</ul>
{% endblock %}


{% block content_2 %}
<!--
<div><a href = "{% url 'products_and_categories' %}">List of products sorted by categories</a></div>
<div><a href = "{% url 'home' %}">Home</a></div>
-->
{% endblock %}