{% extends "base.html" %}


{% block title %}
{{ product.title }} | Laboratory Glassware Store
{% endblock %}


{% block style %}
.a {
  font-size: 30px;
  margin: 30px;
}
#b {
  background-color: #999999;
}
.c{
  background-color: #cccccc;
}
#d {
  font-size: 30px;
}
{% endblock %}


{% block content %}
<h1 class='center'>{{ product.title }}</h1>
<div class='a'><span id='b'>Product features</span><br>{{ product.description }}</div>
<div class='a'><span class='c'>Price:</span> {{ product.price }} £</div>
<div class='a'><span class='c'>Stock:</span> {{ product.stock }} pcs</div>
<div><a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Add to cart</a></div>
{% endblock %}


{% block content_2 %}
<div id='d'>Back to category:  <a class='blacken' href = "{% url 'category' product.category.id %}">{{product.category.title}}</a></div>
<!--
<div><a href = "{% url 'categories' %}">List of categories</a></div>
<div><a href = "{% url 'products_and_categories' %}">List of products sorted by categories</a></div>
<div><a href = "{% url 'home' %}">Home</a></div>
-->
{% endblock %}
