{% extends "base.html" %}


{% block title %}
Products and categories overview | Laboratory Glassware Store
{% endblock %}


{% block style %}
#b {
  margin-bottom: 30px;
}
.c {
  display: inline;
  margin: 0px 50px;
}
#d {
  color: grey;
  text-decoration: underline;
}
#e {
  margin: 30px 30px;
}
#f {
  font-weight: bold;
}
#g {
  margin: 10px 0px;
}
{% endblock %}


{% block content %}
<h1 class='center'>List of all products</h1>
<h3 class ='center' id='b'><span class='c'>Sorted by categories</span><span class='c'>
  <a id='d' href="{% url 'products' %}">Alphabetical ordering</a></span></h3>
<ul>
  {% for category in categories %}
  <li class='comb' id='e'>
    <a class='blacken' id='f' href = "{% url 'category' category.id %}">{{ category.title }}</a>
    {% if perms.store.change_category %}
      <a href = "{% url 'category_update' category.id %}">✏️</a>
    {% endif %}
    {% if perms.store.delete_category %}
      <a href = "{% url 'category_delete' category.id %}">❌</a>
    {% endif %}
  <ul>
    {% for product in products %}
      {% if product.category == category %}
        <li class='comb' id='g'>
          <a class='blacken' href = "{% url 'product' product.id %}">{{ product.title }}</a>
          {% if perms.store.change_product %}
            <a href = "{% url 'product_update' product.id %}">✏️</a>
          {% endif %}
          {% if perms.store.delete_product %}
            <a href = "{% url 'product_delete' product.id %}">❌</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  </li>
  {% endfor %}
</ul>
{% endblock %}


{% block content_2 %}
<div>
{% if perms.store.add_category %}
  <a href = "{% url 'category_create' %}" class="btn btn-primary">Add a category</a>
{% endif %}
{% if perms.store.add_product %}
  <a href = "{% url 'product_create' %}" class="btn btn-primary">Add a product</a>
{% endif %}
</div>
{% endblock %}